*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App{
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

.projects__buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.projects__each__button{
  margin: 1rem;
}

.stepForm__main, .dateCounter{
  display: flex;
  background-color: #efeded;
  width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stepForm__top, .dateCounter__counter, .dateCounter__steps{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepForm__main__stepCount{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: blueviolet;
}

.complete {
  background-color: rgb(0, 255, 0);
}

.notAttempted {
  background-color: #d7d7d7;
}

.stepForm__main__stepCount > p{
  color: white;
}

.stepForm__center, .dateCounter__date{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepForm__center > p ,.dateCounter__counter > p, .dateCounter__steps > p{
  color: rgb(46, 46, 46);
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.stepForm__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  height: 35px;
  border-radius: 999px;
  border: none;
  background-color: blueviolet;
  cursor: pointer;
  color: white;
  padding: 8px 16px;
  
}

button:disabled,
button[disabled]{
  background-color: #d7d7d7;
  color: #b1b1b1;
}